p {
    max-width: 64ch;
}

.grid {
    display: grid;
    grid-template: 50px 50px / 50px 50px 50px;
}

.grid-item {
    border: 1px solid blue;
}

.grid-line-example > .grid-item-2, .grid-line-example > .grid-item-5 {
    border-right: 1px solid red;
}

.grid-line-example > .grid-item-3, .grid-line-example > .grid-item-6 {
    border-left: 1px solid red;
}